extends layout

block head
		script(src="#{url_for('static', filename='js/task.js')}")

block content
	p Description:
		b &nbsp#{task['description']}
		p#time Due:
			b#relatime &nbsp#{due}
			b#realtime &nbsp#{real_due} UTC
	p project:
		b &nbsp#{task['project'] if 'project' in task else 'no project'}
	- if 'annotations' in task:
		p Notes:
		- for annotation in task['annotations']
			blockquote #{annotation['description']}

	a(href="/edit?index=#{index}") Edit
	br
	a(href="/action?action=done&id=#{task['id']}") Complete
